 html {}
 
 .dashboard-icon {
     width: 25px;
     height: 25px;
 }
 
 #controls {
     position: relative;
     width: 300px;
     height: 200px;
 }
 
 #bumpers {
     text-align: center;
 }

#ctrl-arr-left {
    padding-left: 20px;
}
 #ctrl-arr-right {
     margin-left: -2px;
 }

 .green-arr {
     color: green;
 }

 .red-arr {
     color: red;
 }

.card-panel {
    padding: .25rem 0 0.75rem 0;
}

.statistic {
    margin: 0;
    /*border: 1px dashed black;*/
    /*padding: 1em;*/
}

nav {
    margin-bottom: 25px;
}

 .statistic {
     text-align: center;
     height: 100px;
 }

 .statistic span {
     display: block;
     padding: 25px 0 0 25px;
     font-size: 1.5em;
 }

 .statistic span i {
     /*font-size: 1.5em;*/
 }

 #left-encoder, #right-encoder {
     text-align: center;    
 }

 @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.warning, #cliff-left-data, #cliff-right-data, #cliff-front-left-data, #cliff-front-right-data, #bump-left-data, #bump-right-data, #light-bump-left-data, #light-bump-front-left-data, #light-bump-center-left-data, #light-bump-center-right-data, #light-bump-front-right-data, #light-bump-right-data {
    font-size: 2em;
    padding: 0 !important;
    text-align: center;
}

#distance-data {
    font-weight: bold;
}

.fade-in {
    animation: fadeIn 2s;
}

.statistic-header {
    padding-top: 15px;
    display: inline-block;
    margin: 0;
}

 /* copy */
 svg {
     border-radius: 25px;
     height: 150px;
     width: 150px;
 }
 
 circle {
     stroke-width: 4px;
     fill: transparent;
 }
 
 #gray {
     stroke: #000;
 }
 
 #top-left {
     stroke: green;
     stroke-dasharray: 58, 284;
     /* length of arc, circumference of circle */
     stroke-dashoffset: -153.75;
     /* offset of arc from start point (1/2 arc length + 1/4 circumference) */
 }
 
 #orange {
     stroke: black;
     stroke-dasharray: 35.5, 284;
     /* length of arc, circumference of circle */
     stroke-dashoffset: -88.75;
     /* offset of arc from start point (1/2 arc length + 1/4 circumference) */
 }
 
 #blue {
     stroke: black;
     stroke-dasharray: 35.5, 284;
     /* length of arc, circumference of circle */
     stroke-dashoffset: -17.75;
     /* offset of  arc from start point (1/2 of arc length) */
 }

.light-bump span {
    padding: 0;
}
 .fa-check {
     font-size: 60px !important;
 }
 
 #top-right {
     stroke: green;
     stroke-dasharray: 58, 284;
     /* length of arc, circumference of circle */
     stroke-dashoffset: -210.75;
     /* offset of arc from start point (1/2 arc length + 3/4 circumference) */
 }
 /* end copy */

 #my-canvas {
     width: 100%;
     margin: 0 auto;
     text-align: center;
     padding-left: 200px;
 }

 canvas {
     display: inline;
 }

 #statistics-list {
     display: inline-block;
 }